@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
header {
    width: 100vw;
    height: 20vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000d8;
    color: #fff;
    margin: 0 0 6% 0;
}
body {
    width: 100vw;
    background-color: #9796961a;
}
main {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10% 0;
}
.display {
    background-color: rgb(201, 201, 201);
    padding: 15px;
    width: 280px;
    text-align: right;
    font-size: 20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
button {
    padding: 10px;
    width: 67px;
    height: 45px;
    margin-top: 10px;
    background-color: rgb(194, 194, 194);
    color: black;
    font-size: 20px;
}
button:hover {
    background-color: rgb(182, 178, 178);
}
button:active {
    background-color: rgb(136, 136, 136);
}
#clear {
    width: 138px;
    background-color: #000000d8;
    color: #fff;
}
#clear:hover {
    background-color: rgb(182, 178, 178);
    color: white;
}
#clear:active {
    background-color: rgb(136, 136, 136);
}
#zero {
    width: 138px;
}
aside {
    margin-bottom: 10%;
}
.container-redes {
    margin: 1% 0.5%;
    padding-top: 1%;
}
footer {
    margin: 0;
    text-align: center;
    background-color: #000000d8;
    color: #fff;
    font-style: italic;
    font-weight: 300;
}